[submodule "lib/third-party/prometheus-cpp"]
	path = lib/third-party/prometheus-cpp
	url = https://github.com/jupp0r/prometheus-cpp
[submodule "lib/third-party/brotli"]
	path = lib/third-party/brotli
	url = https://github.com/google/brotli
[submodule "lib/third-party/zpp_bits"]
	path = lib/third-party/zpp_bits
	url = https://github.com/eyalz800/zpp_bits.git
[submodule "lib/third-party/pugixml"]
	path = lib/third-party/pugixml
	url = git@github.com:zeux/pugixml.git
