[submodule "lib/third-party/zpp_bits"]
	path = lib/third-party/zpp_bits
	url = https://github.com/eyalz800/zpp_bits.git
[submodule "lib/third-party/etcd-cpp-apiv3"]
	path = lib/third-party/etcd-cpp-apiv3
	url = https://github.com/etcd-cpp-apiv3/etcd-cpp-apiv3.git
[submodule "lib/third-party/CLI11"]
	path = lib/third-party/CLI11
	url = https://github.com/CLIUtils/CLI11.git
[submodule "lib/third-party/opentelemetry-cpp"]
	path = lib/third-party/opentelemetry-cpp
	url = https://github.com/open-telemetry/opentelemetry-cpp
[submodule "lib/third-party/magic_enum"]
	path = lib/third-party/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "testing"]
	path = testing
	url = https://github.com/UltiHash/core-tests.git
	branch = main
